* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 17px;
}

body {
    height: 100vh;
    background-image: url(../img/fondos/fondo4.jpg);
    background-size: cover;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #008584;
}

.navbar, .redes {
    display: flex;
    align-items: center;;
}

.dropbutton {
    display: block;
    background-color: transparent;
    border: none;
    padding: 14px 16px;
    text-align: center;
    color: #FBFFCD;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #008584;
}

.navbar li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    color: #FBFFCD;
}

.redes li a {
    display: flex;
    justify-content: flex-end;
    padding: 14px 16px;
    text-decoration: none;
    color: #FBFFCD;
}

.contenido {
    position: absolute;
    display: none;
    background-color:#008584;
    opacity: 75%;
}

.navbar li:hover .contenido {
    display: block;
}

#carrusel-botones {
    display: flex;
}

.div-carrusel {
    margin: auto;
    margin-top: 50px;
    width: 90%;
    height: 90%;
    max-width: 500px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color:rgba(0, 133, 132, 0.5);
    border-radius: 30px;
}
.div-carrusel #img1 {
    display: none;
    width: 75%;
    height: 75%;
    margin: 100px;
}

.div-carrusel #img2 {
    width: 85%;
    height: 85%;
    margin: 100px;
}

.div-carrusel #img3 {
    display: none;
    width: 100%;
    height: 100%;
    margin: 100px;
}

#carrusel-botones button {
    max-height: 100px;
    margin: 300px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 300px;
    background-color: #008584;
    color: #FBFFCD;
}

#ofertas {
    margin: auto;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 40px;
    padding: 10px;
    background-color: #008584;
    border-radius: 15px;
}

#ofertas h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    font-size: 30px;
    color: #FBFFCD;
}

ul li a:hover, .dropbutton:hover, .dropbutton:focus, #carrusel-botones button:hover, #carrusel-botones button:focus {
    background-color: #1C5560;
}

/*Formulario */


.contenedor{
    position: absolute;
    display: none;
    background-color:#008584;
    opacity: 75%;
}

.Formulario {
    width: 40%;              /* tamaño */
    margin: 50px auto;         /* centra */
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2); /* un poco transparente */
    backdrop-filter: blur(10px);           /* efecto borroso */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
    }

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: 2rem;
    height: 40%;
    font-weight: bold;
    height: auto;
}
.campo__label{
    flex: 0 0 1rem; 
    text-align: center;
    padding-right: 1rem;
    margin-bottom: 5px;
    font-size: 24px;
}
.imput__field {
    
    background: transparent;
    flex:1;
    border: 1px solid gray;
    
    

}
.campo__field--textarea{
    background: transparent;
    height: 10rem;
    width: 100%;
    flex: 1;
}

.boton--primario{
    display: flex;
    margin: 20px auto; /* auto a los lados lo centra */
    background-color: #008584;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 8px;
    border-bottom: 2px;
    cursor: pointer;
}


