* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 17px;
}

body {
    height: 100vh;
    background-image: url(../img/fondos/fondo4.jpg);
    background-size: cover;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #008584;
}

.navbar, .redes {
    display: flex;
    align-items: center;;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #008584;
}

.navbar li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    color: #FBFFCD;
}

.redes li a {
    display: flex;
    justify-content: flex-end;
    padding: 14px 16px;
    text-decoration: none;
    color: #FBFFCD;
}

.contenido {
    position: absolute;
    display: none;
    background-color:#008584;
    opacity: 75%;
}

.navbar li:hover .contenido {
    display: block;
}

#carrusel-botones {
    display: flex;
}

.div-carrusel {
    margin: auto;
    margin-top: 50px;
    width: 90%;
    height: 90%;
    max-width: 500px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color:rgba(0, 133, 132, 0.5);
    border-radius: 30px;
}

.div-carrusel #img1 {
    width: 75%;
    height: 75%;
    margin: 100px;
}

#carrusel-botones button {
    max-height: 100px;
    margin: 300px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 300px;
    background-color: #008584;
    color: #FBFFCD;
}

.carteles {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 40px;
    padding: 10px;
    background-color: #008584;
    border-radius: 15px;
}

.carteles h2 {
    font-size: 30px;
    color: #FBFFCD;
}

ul li a:hover, #carrusel-botones button:hover {
    background-color: #1C5560;
}

#contenedor {
    margin: 100px;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    padding: 10px 20px;
    height: 250px;
    max-height: 10%;
    width: 20%;
    max-width: 20%;
    background-color: rgba(0, 133, 132, 0.3);
    border: solid;
    border-color: #008584;
    border-radius: 25px;
}

.descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center     ;
    padding: 10px;
}

.cont-img {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}

.producto {
    margin: auto;
    text-decoration: none;
    color: #554236;
}

.content span {
    margin: auto;
    font-size: 20px;
}

footer {
    display: flex;
    margin: 50px 0;
    padding: 20px;
    background-color:#008584;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
footer span {
    margin: auto;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    color: #FBFFCD;
}

@media screen and (max-width:767px) {
    #contenedor {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .content {
        width: 80%;
        height: 100px;
        max-width: 80%;
        max-height: 80%;
    }
    .cont-img {
        height: 100%;
        width: 100%;
    }

    .div-carrusel {
        height: 300px;
        width: 300px;
    }

    #carrusel-botones {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #carrusel-botones button {
        height: 20%;
        width: 20% 0;
        margin: 10% 0;
        padding: 10px 20px;
    }
    .navbar li a {
        font-size: 0.7em;
    }
}